<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/unlugarenlacosta?useTimezone=true&
            serverTimezone=GMT%2B8
        </property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">unlugarenlacosta</property>
        <property name="connection.password">UNlugarENlaCOSTA792.</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.unlugarenlacosta.entities.Destination"></mapping>
        <mapping class="com.unlugarenlacosta.entities.Category"></mapping>
        <mapping class="com.unlugarenlacosta.entities.Beach"></mapping>
        <mapping class="com.unlugarenlacosta.entities.Location"></mapping>
        <mapping class="com.unlugarenlacosta.entities.Commentary"></mapping>
        <mapping class="com.unlugarenlacosta.entities.Creek"></mapping>
        <mapping class="com.unlugarenlacosta.entities.User"></mapping>

    </session-factory>
</hibernate-configuration>